{
"dwi": "testdata/dwi.nii.gz",
"bvecs": "testdata/dwi.bvecs",
"bvals": "testdata/dwi.bvals",
"preprocess": false,
"csd": "csd",
"nr_fibers": 2000,
"bundles": "",
"tractometry_input": "peak_length"
}
